/Incidencies/nbproject/private/
/Incidencies/Model/nbproject/private/
/Incidencies/Incidencies/nbproject/private/
/Incidencies/Persistencia/nbproject/private/
/Incidencies/Persistencia/build/
/Incidencies/Model/build/
/Incidencies/Model/dist/
/Incidencies/Persistencia/dist/
/Incidencies/Incidencies/build/
/ISIDRE/nbproject/private/
/ISIDRE/build/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/Incidencies/PersistenciaMySql/nbproject/private/
/Incidencies/PersistenciaMySql/build/
/Incidencies/PersistenciaMySql/dist/